.div-table__table-conatiner {
  /* width: 100%; */
}

.div-table__table-header,
.div-table__table-row {
  justify-content: space-between;

  padding: 1.5rem 1.5rem;
}

.div-table__table-header>h4,
.div-table__table-row>p,
.div-table__table-row>a {
  flex: 2;
}

.div-table__table-row>p,
.div-table__table-header>h4 {
  text-align: center;
  padding: 0 2.5rem;
  color: var(--black-text-color);
  /* border: 1px solid; */
}

.div-table__table-row>p {
  font-size: 1.15rem;

}