section.home {
  background-color: var(--primary-bg-color);
  width: 100vw;
  padding: 12.5rem 5rem;
  gap: 12.5rem;
  justify-content: space-between;
}

h2 {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 4rem;
  letter-spacing: 0em;
  text-align: left;
  color: var(--secondary-bg--color);
}

.hero__buttons {
  justify-content: start;
  gap: 0.5rem;
}

.hero__texts {
  width: 40vw;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  justify-content: center;
}

.home__hero-imgs {
  height: 30em;
  flex-grow: 1;
  position: relative;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 10em;
}

.home__hero-imgs > img {
  width: 12.5em;
  height: 20em;
}

.home__hero-imgs > img:nth-child(1) {
}

.home__hero-imgs > img:nth-child(n + 2):nth-child(-n + 4) {
  position: absolute;

  width: 20em;
  height: 25em;
}

.home__hero-imgs > img:nth-child(2) {
  top: 2em;
  left: 7em;
  z-index: 3;
}
.home__hero-imgs > img:nth-child(3) {
  top: 5em;
  z-index: 2;
}
.home__hero-imgs > img:nth-child(4) {
  top: 8em;
  left: 13em;

  z-index: 1;
}
